n8n/workflow.json
{
  "name": "AI_Impact_Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-audio",
        "responseMode": "lastNode"
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers.authorization }}",
              "operation": "equal",
              "value2": "Bearer Qkef6vU90hKcU2Fvsaa2"
            }
          ]
        }
      },
      "id": "if1",
      "name": "Check API Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-350, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"error\",\"message\":\"Unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauth",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-150, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/process",
        "sendBody": true,
        "jsonBody": "={\n  \"audio_url\": \"{{$json.body.audio_url}}\",\n  \"message\": \"{{$json.body.message}}\"\n}"
      },
      "id": "fastapi",
      "name": "Send to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-50, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "final",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Key": {
      "main": [
        [
          {
            "node": "Send to FastAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FastAPI": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
