n8n/workflow.json
{
  "name": "AI_Impact_Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3c10ec8-c33f-462f-a708-d59fdc23788c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "webhookId": "7242d1e5-38e9-4713-b4e1-0d5f26464f3a"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers.authorization }}",
              "operation": "equal",
              "value2": "Bearer Qkef6vU90hKcU2Fvsaa2"
            }
          ]
        },
        "options": {}
      },
      "id": "c4181143-7d0f-432c-b625-a2c5624fa0b2",
      "name": "Check API Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"error\",\"message\":\"Unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "0faf0f53-c852-4194-9bb8-c58e67ed9f77",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        320,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Qkef6vU90hKcU2Fvsaa2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.body.audio_url }}"
            },
            {
              "name": "message",
              "value": "={{ $json.executionMode }}"
            }
          ]
        },
        "options": {}
      },
      "id": "87364447-df58-48ef-9d22-86132967a6d2",
      "name": "Send to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        368,
        -96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "be49ef8b-221b-4904-b2a4-60561953989a",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Key": {
      "main": [
        [
          {
            "node": "Send to FastAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FastAPI": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1fe2d2d3-9563-4536-ab1f-b2f083c5ca97",
  "meta": {
    "instanceId": "d01d4391658a12ced28db5d3028edbf68e97f24150d5ac19c92c729a53e72bea"
  },
  "id": "S9jen6WuaxWbohFY",
  "tags": []
}